@{
    ViewData["Title"] = "Thay đôi mật khẩu thành công";
}
<div class="jumbotron text-center" style="padding: 16em 0;">
    <h1 class="display-3">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi</h1>
    <br>
    <p class="lead"><h3>Mật khẩu của bạn đã được cập nhật</h3></p>

    <hr>
    <p>
        Bấm vào nút dưới đây để đến trang đăng nhập
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-action="SignIn" asp-controller="Account" role="button">Đăng nhập</a>
    </p>
</div>