@using VisistorHouseMVC.DTOs.AccountDto;
@model SignUpDto;
@{
    ViewData["Title"] = "Sign Up";

}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form asp-action="SignUp">
                    <p class="text-danger">@TempData["Error"]</p>
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Tên đăng nhập</label>
                        <input asp-for="Username" type="text" id="form1Example13" class="form-control form-control-lg" />
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Email</label>
                        <input asp-for="EmailAddress" type="email" id="form1Example13" class="form-control form-control-lg" />
                    </div>

                    <!-- Phone input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Số điện thoại</label>
                        <input asp-for="Phone" type="text" pattern="(\+84|0)\d{9,10}" id="form1Example13" class="form-control form-control-lg" />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example23">Mật khẩu</label>
                        <input asp-for="Password" type="password" id="form1Example23" class="form-control form-control-lg"
                               title="Mật khẩu phải có ít nhất 6 ký tự bao gồm 1 ký tự viết hoa, 1 ký tự viết thường và các ký tự số"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
                    </div>

                    <!-- ConfirmPassword input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example23">Nhập lại mật khẩu</label>
                        <input asp-for="ConfirmPassword" type="password" id="form1Example23" class="form-control form-control-lg"
                               title="Mật khẩu phải có ít nhất 6 ký tự bao gồm 1 ký tự viết hoa, 1 ký tự viết thường và các ký tự số"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Đăng ký</button>

                </form>
            </div>
        </div>
    </div>
</section>
