@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager;
@{
    ViewData["Title"] = "Trang chủ";
}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/minh20/image/upload/v1657898289/VisitorHouse/1_j4dqyu.jpg" />

            <div class="container">
                <div class="carousel-caption text-start ">
                    <h1>Tìm kiếm nơi ở</h1>
                    <p>Tìm kiếm nơi ở phù hợp với công việc và cuộc sống của bạn</p>
                    <p><a class="btn btn-lg btn-primary" asp-controller="Account" asp-action="Signin">Đăng nhập ngay</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/minh20/image/upload/v1657898289/VisitorHouse/3_je0fx1.jpg" />

            <div class="container">
                <div class="carousel-caption ">
                    <h1>Cho thuê bất động sản</h1>
                    <p>Bạn có bất động sản muốn cho thuê. Hãy đăng ký tài khoản ngay</p>
                    <p><a class="btn btn-lg btn-primary" asp-controller="Account" asp-action="SignUp">Đăng ký tài khoản</a></p>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/minh20/image/upload/v1657898289/VisitorHouse/2_h1n98m.jpg" />

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Dễ sử dụng, dễ tiếp cận</h1>
                    <p>Tối ưu hóa các chức năng, đem lại trải nghiệm đơn giản nhưng đầy đủ cho người dùng</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                First featurette heading. <span class="text-muted">
                    It’ll blow
                    your mind.
                </span>
            </h2>
            <p class="lead">
                Some great placeholder content for the first featurette here. Imagine some exciting prose
                here.
            </p>
        </div>
        <div class="col-md-5">
            <img style="width:30em" src="https://res.cloudinary.com/minh20/image/upload/v1656778215/dlxjltorgbsa2ulhaajx.png" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
                Oh yeah, it’s that good. <span class="text-muted">
                    See for
                    yourself.
                </span>
            </h2>
            <p class="lead">
                Another featurette? Of course. More placeholder content here to give you an idea of how this
                layout would work with some actual real-world content in place.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img style="width:30em" src="https://res.cloudinary.com/minh20/image/upload/v1656778030/irmmocpu0imsz6p888hz.png" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                And lastly, this one. <span class="text-muted">Checkmate.</span>
            </h2>
            <p class="lead">
                And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like with some
                actual content. Your content.
            </p>
        </div>
        <div class="col-md-5">
            <img style="width:30em" src="https://res.cloudinary.com/minh20/image/upload/v1656778062/xj0wtdtkswg1fjx37u36.png" />
        </div>
    </div>

    <!-- /END THE FEATURETTES -->

</div>
